# Rendered by the installer from multivpn.conf. Sourced by /etc/multivpn/bin/*.
MULTIVPN_CLIENT_VLAN_CIDR=${CLIENT_VLAN_CIDR}
MULTIVPN_CLIENT_GW_IP=${CLIENT_GW_IP}
MULTIVPN_MGMT_CIDR=${MGMT_CIDR}
MULTIVPN_DNS_UPSTREAMS="${DNS_UPSTREAMS}"
MULTIVPN_STREAMING_MIN_MBPS=${STREAMING_MIN_MBPS}
MULTIVPN_PROTON_COUNTRY=${PROTON_COUNTRY}
MULTIVPN_DNS_INSTANCE=${DNS_INSTANCE}
MULTIVPN_DNS_INDEX=${DNS_INDEX}
